<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"> <!-- Adjusted to col-lg-12 for full width -->
        <p>Driven and detail-oriented Mechanical Technician with a robust background in CNC machining and CAM programming. A recent graduate from Conestoga College's Mechanical Technician-CNC program, where I was honored with scholarships from the Gene Haas Foundation and Canerectors Foundation for academic excellence.
          I bring practical experience in utilizing industry-leading tools like Fusion 360, SolidWorks, and Mastercam, as well as hands-on skills with Haas Mills and Lathes. 
          My previous 6 years in Photography and Marketing have refined my eye for precision and innovation, qualities I now hope to apply in CMM/QC, CAM/CNC machining roles.
          Eager to leverage my technical skills and creative problem-solving abilities in a dynamic new position.</p>

.</p>
      </div>
      <div class="col-lg-12"> <!-- Adjusted to col-lg-12 for full width -->
        <p>My passion for automobiles and making has fueled a mechanically intuitive mindset and a self-taught skillset in CAD, CAM and 3D printing as well as the mechanical assembly and inspection of devices like automotive engines, transmissions and differentials. 
        This hands-on experience in automotive technology reinforces my adeptness with complex systems, aligning with my career transition toward mechanical technology and quality control roles.</p>
      </div>
    </div>
  </div>
</section>
