<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>With over six years of experience in photography and content creation, particularly in the automotive sector, and a solid background in social media management, I've spent the recent part of my career in media and marketing. 
        Currently, I'm transitioning into the Precision Manufacturing industry by attending Conestoga College's Mechanical Technician - CNC Program as a Canerectors Foundation Scholar, aiming to leverage my skills in quality control and inspections. 
        My journey is supported by an educational foundation in Advertising and Marketing Communications Management and Business Administration, along with Autodesk certifications in CAD/CAM, preparing me for new challenges in this technical field.</p>
      </div>
      <div class="col-lg-4">
        <p>My passion for automobiles and making has fueled a mechanically intuitive mindset and a self-taught skillset in CAD, 3D printing, CNC routing, and the mechanical assembly and inspection of devices like automotive engines, transmissions and differentials. 
        This hands-on experience in automotive technology reinforces my adeptness with complex systems, aligning with my career transition toward mechanical technology and quality control roles.</p>
      </div>
        </a>
      </div>
    </div>
  </div>
</section>
